#root {
  height: 100vh;
  width: 100vw;
}
.router:hover {
  cursor: grab;
}
.router:active {
  cursor: grabbing;
}

#router-dropdown .list-group-item {
  font-size: smaller;
  color: white;
  background-color: #444;
  border-radius: none;
}
#router-dropdown .list-group-item:hover {
  background-color: #555;
}

#router-dropdown {
  border-radius: 15%;
  background-color: #444;
}

#router-dropdown:active {
}

#menu-bar {
  background-color: #d2d2cf;
  border-radius: 0px 0px 10px 10px;
  padding: 1rem;
  width: 50vw;
}

.bellmantable {
  position: absolute;
  transform: scale(-50%) translateY(50%) translateX(-25%);
  text-align: center;
  display: block;
}
.bellmantable:hover {
  position: absolute;
  transform: scale(100%) translateY(0%) translateX(-25%);
  text-align: center;
  display: block;
}
.bellmantable * {
  font-size: 0.5rem !important;
}
