#root {
  height: 100vh;
  width: 100vw;
}
.router:hover {
  cursor: grab;
}
.router:active {
  cursor: grabbing;
}

.blink-line {
  animation: blink-line 2s 1;
}

.blink-router-considered {
  animation: blink-png-considered 2s forwards;
}

.blink-router {
  animation: blink-png 1s 2;
}

/* Animations */
@keyframes blink-line {
  100% {
    stroke: #f00;
  }
}

@keyframes blink-png {
  100% {
    opacity: 0%;
  }
}

@keyframes blink-png-considered {
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    filter: hue-rotate(180deg);
  }
}
