#root {
  height: 100vh;
  width: 100vw;
}
.router:hover {
  cursor: grab;
}
.router:active {
  cursor: grabbing;
}

.blink-line {
  animation: blink-line 1s 3;
}

.blink-router {
  animation: blink-png 1s 3;
}

/* Animations */
@keyframes blink-line {
  100% {
    stroke: #f00;
  }
}

@keyframes blink-png {
  100% {
    opacity: 0%;
  }
}
